#sales-page{

    width: 100%; /* Set your desired width */
    max-width: 80%; /*Set your desired maximum width */ 
    height: auto; /*Set your desired height */
    overflow: auto; /*Add a scrollbar if the content overflows */
    margin: 0 auto; /*Center the container horizontally */
    min-height: 100vh;    
    margin-top: 10rem;
}
    